<%= stylesheet_link_tag 'top', :media => "all" %>

<div class="back_img">
    <h1>Potepan Shareで<br>まだ体験したことのない旅<br>をしよう</h1>

    <div class="search_form">
        <%= form_with url: search_rooms_path, local: true, method: :get do |f| %>
            <%= f.text_field :area, placeholder: "エリア名を入力" %><br>
            <%= f.submit "検索", class: "search_btn" %>
        <% end %>
    </div>
</div>

<h2>おすすめのエリア</h2><br>
<div class="img_on_font">
    <%= link_to image_tag("/assets/tokyo.jpeg", class: "img_area"), search_rooms_path(area:"東京") %>
    <%= link_to "東京", search_rooms_path(area:"東京"), class: "font" %>
</div>
<div class="img_on_font">
    <%= link_to image_tag("/assets/osaka.jpeg", class: "img_area"), search_rooms_path(area:"大阪") %>
    <%= link_to "大阪", search_rooms_path(area:"大阪"), class: "font" %>
</div>
<div class="img_on_font">
    <%= link_to image_tag("/assets/kyoto.jpeg", class: "img_area"), search_rooms_path(area:"京都") %>
    <%= link_to "京都", search_rooms_path(area:"京都"), class: "font" %>
</div>
<div class="img_on_font">
    <%= link_to image_tag("/assets/sapporo.jpeg", class: "img_area"), search_rooms_path(area:"札幌") %>
    <%= link_to "札幌", search_rooms_path(area:"札幌"), class: "font" %>
</div>
