<h2 class="setting">設定</h2>
<div class="between">
  <%= render "shared/partial" %>
  <div class="wid">
    <div class="bottom_line">
      <h2>アカウント</h2>
    </div>
    <div class="device_inner">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <div class="form-group">
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "メールアドレスを入力してください" %>
            </div>
          </div>
          <div class="field">
            <div class="form-group after_text">
              <%= f.label :password, "変更後パスワード" %>
              <%= f.password_field :password, placeholder: "変更後パスワードを入力", autocomplete: "password" , class:"form-control"%><br>
            </div>
          </div>
          <div class="field">
            <div class="form-group after_text">
              <%= f.label :password_confirmation, "確認用パスワード" %>
              <%= f.password_field :password_confirmation, placeholder: "変更後パスワードを入力", autocomplete: "password", class:"form-control" %><br>
            </div>
          </div>
          <div class="field">
            <div class="form-group">
              <%= f.label :current_password, "現在のパスワード" %>
              <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワードを入力" , class:"form-control"%>
            </div>
          </div>
          <div class="actions">
            <%= link_to "キャンセル", :back, class: "btn"%>
            <%= f.submit "保存", class: "orange_btn user_btn white" %>
          </div>
        <% end %>
      </div>

  </div>
</div>
