<%= stylesheet_link_tag 'reservations', :media => "all" %>

<div class="n_container">
<h2>予約内容の確認</h2>

<table>
    <tr>
        <th class="confirm_p">チェックイン</th>
        <td><%= @reservation.check_in.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
        <th class="confirm_p">チェックアウト</th>
        <td><%= @reservation.check_out.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
        <th class="confirm_p">日数</th>
        <td><%= @reservation.stay_days %>日</td>
    </tr>
    <tr>
        <th class="confirm_p">人数</th>
        <td><%= @reservation.number_p%>人</td>
    </tr>
    <tr>
        <th class="confirm_p">お支払い金額</th>
        <td>¥<%= @reservation.room.price * @reservation.number_p * @reservation.stay_days %></td>
    </tr>
</table>
<p>上記内容で正しければ「確定」ボタンを押してください。</p>

<%= form_with(model: @reservation, local: true, id: "confirm-reservation") do |f| %>
    <%= f.hidden_field :check_in %>
    <%= f.hidden_field :check_out %>
    <%= f.hidden_field :number_p %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :room_id %>
    <div class="center">
    <%= f.submit "予約を確定", class: "orange_btn complete-btn" %><br>
    </div>
    <%= link_to "キャンセル", :back, class: "btn" %>
<% end %>
</div>
