<h2>予約内容の確認</h2>

<table>
    <tr>
        <th>チェックイン</th>
        <td><%= @reservation.check_in %></td>
    </tr>
    <tr>
        <th>チェックアウト</th>
        <td><%= @reservation.check_out %></td>
    </tr>
    <tr>
        <th>日数</th>
        <td><%= @reservation.stay_days %></td>
    </tr>
    <tr>
        <th>人数</th>
        <td><%= @reservation.number_p%></td>
    </tr>
    <tr>
        <th>お支払い金額</th>
        <td><%= @reservation.room.price * @reservation.number_p * @reservation.stay_days %></td>
    </tr>
</table>

<%= form_with(model: @reservation, local: true, id: "confirm-reservation") do |f| %>
    <%= f.hidden_field :check_in %>
    <%= f.hidden_field :check_out %>
    <%= f.hidden_field :number_p %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :room_id %>
    <%= f.submit "予約を確定", class: "complete-btn" %>
    <%= link_to "キャンセル",:back %>
<% end %>
