<h2>予約済み一覧</h2>

<table>
   <thead>
     <tr>
       <th>画像</th>
       <th>施設名</th>
       <th>紹介文</th>
       <th>合計料金</th>
       <th>チェックイン</th>
       <th>テェックアウト</th>
       <th>予約確定日時</th>
     </tr>
   </thead>
 
   <tbody>
     <% @reservations.each do |reservation| %>
        <tr>
            <td>
            <% if reservation.room.image? %>
                <img src=<%= @room.image %>>
            <% else %>
                <img src="/assets/room.png" width="86" height="56" >
            <% end %>
            </td>
            <td><%= link_to reservation.room.name, room_path(reservation.room.id) %></td>
            <td><%= reservation.room.introduction %></td>
            <td><%= @total * reservation.room.price * reservation.number_p * reservation.stay_days %></td>
            <td><%= reservation.check_in.strftime("%Y/%m/%d") %></td>
            <td><%= reservation.check_out.strftime("%Y/%m/%d") %></td>
            <td><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= link_to "削除", reservation_path(reservation.id), method: :delete, data: {confirm: "施設を削除しますか？"} %></td>
        </tr>
     <% end %>
   </tbody>
 </table>
