<%= stylesheet_link_tag 'rooms', :media => "all" %>

<div class="index_container">
<h2>登録済み一覧</h2>
 
 <table>
   <thead>
     <tr>
       <th class="black_line">画像</th>
       <th class="black_line">施設名</th>
       <th class="black_line">紹介文</th>
       <th class="black_line">料金</th>
       <th class="black_line">作成日</th>
       <th class="black_line wid_s"></th>
     </tr>
   </thead>
 
   <tbody>
     <% @rooms.each do |room| %>
       <tr>
        <td class="bottom_line">
          <% if room.image? %>
            <img src=<%= room.image %> class="room_icon" >
          <% else %>
            <img src="/assets/room.png", class="room_icon" >
          <% end %>
        </td>
        <td class="bottom_line">
          <%= link_to room.name, room_path(room.id), class: "blue" %>
        </td>
        <td class="bottom_line"><%= room.introduction %></td>
        <td class="bottom_line">¥<%= room.price %>〜</td>
        <td class="bottom_line"><%= room.created_at.to_s(:datetime_jp) %></td>
        <td class="d_click rela bottom_line">
        ... 
        <ul class="dropdown__indexs">
          <li class="dropdown__index"><%= link_to "編集", edit_room_path(room.id) %></li>        
          <li class="dropdown__index"><%= link_to "施設を削除", room_path(room.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
        </ul>
        </td>
       </tr>
     <% end %>
   </tbody>
 </table>
 </div>
