<h2>登録済み一覧</h2>
 
 <table>
   <thead>
     <tr>
       <th>画像</th>
       <th>施設名</th>
       <th>紹介文</th>
       <th>料金</th>
       <th>作成日</th>
       <th></th>
     </tr>
   </thead>
 
   <tbody>
     <% @rooms.each do |room| %>
       <tr>
        <td>
          <% if room.image? %>
            <img src=<%= room.image %>>
          <% else %>
            <img src="/assets/room.png" width="130" height="84" >
          <% end %>
        </td>
        <td>
          <%= link_to room.name, room_path(room.id) %>
        </td>
        <td><%= room.introduction %></td>
        <td><%= room.price %></td>
        <td><%= room.created_at.to_s(:datetime_jp) %></td>
        <td>
          <%= link_to "編集", edit_room_path(room.id) %>
        </td>
        <td>
          <%= link_to "施設を削除", room_path(room.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
       </tr>
     <% end %>
   </tbody>
 </table>
 
