<%= stylesheet_link_tag 'rooms', :media => "all" %>

<div class="form_container">
  <h2>新規登録</h2>

  <%= render "shared/error", obj: @room %>
  
  <%= form_with model: @room do |f| %>
    <table>
      <tr>
        <th><%= f.label :name ,"施設名" %></th>
        <td><%= f.text_field :name, placeholder: "ルーム名を入力" %></td>
      </tr>
  
      <tr>
        <th><%= f.label :introduction ,"施設詳細" %></th>
        <td><%= f.text_area :introduction, placeholder: "施設詳細を入力" %></td>
      </tr>
  
      <tr>
        <th><%= f.label :price ,"料金" %></th>
        <td><%= f.text_field :price, placeholder: "一日あたりの料金を入力" %></td>
      </tr>
  
      <tr>
        <th><%= f.label :address ,"住所" %></th>
        <td><%= f.text_field :address, placeholder: "住所を入力" %></td>
      </tr>

      <tr>
        <th><%= f.label :image ,"施設画像" %></th>
        <td><%= f.file_field :image %></td>
      </tr>
    </table>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div>
      <ul>
        <li><%= f.submit "保存", class: "orange_btn white form_btn"%></li>
        <li><%= link_to "キャンセル", :rooms, class: "btn" %></li>
      </ul>
    </div>
  <% end %>
</div>
