<% if user_signed_in? && current_user.id == @room.user_id %>
    <div class="between">
    <%= link_to "← 戻る", :back %>
    <%= link_to "編集", edit_room_path %>
    </div>
<% else %>
    <%= link_to "← 戻る", :back %>
<% end %>

<div class="between">
    <% if @room.image? %>
        <img src=<%= @room.image %>>
    <% else %>
        <img src="/assets/room.png" width="520" height="336" >
    <% end %>

    <div class="room_container">
        <div class="between">
            <h3><%= @room.name %></h3>
            <h3><%= @room.price %></h3>
        </div>
        <p><%= @room.address %></p>
        <p>★★★★★</p>
        <p><%= @room.introduction %></p>

        <%= render "shared/error", obj: @reservation %>

        <%= form_with model: @reservation, url: confirm_reservations_path(@reservation), local: true, id: "new-reservation" do |f| %>
            <table>
                <tr>
                    <th><%= f.label :check_in, "チェックイン" %></th>
                    <th><%= f.label :check_out, "チェックアウト" %></th>
                    <th><%= f.label :number_p, "人数" %></th>
                </tr>
                <tr>
                    <td><%= f.date_field :check_in, class:"posts-content" %></td>
                    <td><%= f.date_field :check_out, class:"posts-content" %></td>
                    <td><%= f.text_field :number_p, class:"posts-content" %></td>
                </tr>
            </table>
            <% if user_signed_in? %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.submit "予約する"%>
            <% else %>
                <%= link_to "ログイン", new_user_session_path %>
            <% end %>
        <% end %>
    </div>
</div>
